<style>
    /* Overwrite CSS variable */
    :root {
            --base-font-family: 'Mali', handwriting; /* Change this to your default font family */
            --article-font-family: 'Mali', handwriting, var(--base-font-family);
        }

        body {
            font-family: var(--article-font-family);
        }
</style>

<script>
    (function () {
        const customFont = document.createElement('link');
        customFont.href = "https://fonts.bunny.net/css?family=mali:300";
    
        customFont.type = "text/css";
        customFont.rel = "stylesheet";
    
        document.head.appendChild(customFont);
    }());
</script>
